/* NORMAL STYLING  */
nav{
	background:white;
	font-size: 35px;
}

a{
	color: #008080;
}


h1{
	background-color:#008080;
	width:175px;
	text-align: center;
	color:white;
	font-size: 35px
	}

body{
	background-color: rgba(229,199,165,0.10);
	}


h2{
	color:#008080;
	border-bottom: 2px solid #008080
	}

h3{
	color: #008080;
	border-bottom: 2px solid #008080
	}

/* CLASS ATTRIBUTES  */
.white_background{
	background-color:white;
	padding: 20px
	margin: auto;
}
.font35{
	font-size: 35px;
}
.border{
	border: 5px;
	border-color: #008080;
}

/* @MEDIA  */
@media screen and (max-width: 765px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
	}
 
.font35{
	font-size: 20px;
	}

}
